<html>
    
<head>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%=title%></title>
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>

    <body>
        <div>
            
        <%=title%>
           
           <ul>
              <li>
               <a href="/auth/google" class="googleplus"><i class="fa fa-google-plus"></i>Google Login</a>
               </li>
                <li>
               <a href="/auth/twitter" class="googleplus"><i class="fa fa-google-plus"></i>Twitter Login</a>
               </li>
            <li>
               <a href="/auth/facebook" class="googleplus"><i class="fa fa-google-plus"></i>Facebook Login</a>
               </li>
           </ul>
            
        </div>
    </body>
</html>
